<?xml version='1.0' encoding='UTF-8'?>
<robot name="planar_2dof">

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.2" radius="0.1"/>
      </geometry>
      <material name="White">
       <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision name="l001">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.00 0.00 0.10" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>

  <link name="link1">
    <visual>
      <origin xyz="0.5 0 0"/>
      <geometry>
        <box size="0.5 0.05 0.05"/>
      </geometry>
      <material name="Red">
       <color rgba="0.9 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision name="l101">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.05 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l102">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.10 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l103">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.15 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l104">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.20 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l105">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.25 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l106">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.30 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l107">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.35 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l108">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.40 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l109">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.45 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>

  <link name="link2">
    <visual>
      <origin xyz="0.5 0 0"/>
      <geometry>
        <box size="0.5 0.05 0.05"/>
      </geometry>
      <material name="Blue">
       <color rgba="0.0 0.0 0.8 1.0"/>
      </material>
    </visual>
    <collision name="l201">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.05 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l202">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.10 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l203">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.15 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l204">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.20 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l205">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.25 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l206">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.30 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l207">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.35 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l208">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.40 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision name="l209">
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin xyz="0.45 0.00 0.25" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>

  <link name="tool"></link>


<!-- Joints -->

  <joint name="joint1" type="revolute">
    <limit effort="30" velocity="1.0" lower="-3.14159" upper="3.14159" />
    <parent link="base_link"/>
    <child link="link1"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
  </joint>

  <joint name="joint2" type="revolute">
    <limit effort="30" velocity="1.0" lower="-3.14159" upper="3.14159" />
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0.45 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
  </joint>

  <joint name="ee" type="fixed">
    <parent link="link2" />
    <child link="tool" />
    <limit effort="30" velocity="1.0" lower="-6.28318" upper="6.28318" />
    <origin xyz="0.5 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
  </joint>
</robot>
